<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
    
<mapper namespace="com.GMdropship.mapper.StoreMapper">  

	
	<select id="queryamByMId" parameterType="String" resultType="Store">
		select storeNumber,storeName,website,buyMangerId from bvo_store
		where buyMangerId=#{buyMangerId} and website='amamzon'
	</select>
	
	<select id="queryebByMId" parameterType="String" resultType="Store">
		select storeNumber,storeName,website,buyMangerId from bvo_store
		where buyMangerId=#{buyMangerId} and website='ebay'
	</select>
	
	<insert id="Add" parameterType="Store">
		insert into bvo_store (buyMangerId,storeName,website,storeNumber)
		values(#{buyMangerId},#{storeName},#{website},#{storeNumber})
	</insert>

	
</mapper>
